<!DOCTYPE html>
<html>
  <head>
    <title>Martinsux</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<embed src="bgsound.mp3" autostart="true" loop="true" hidden="true">
    <%= yield %>
  </body>
</html>
