<div class="container-fluid">
    <a href="https://fontmeme.com/wii-font/"><img src="https://fontmeme.com/permalink/180411/f78c40c531249a5fed5d240f721c3ace.png" alt="twiitr" border="0" class="antihover"></a>
    <a href="/index"><p>pow</p></a>
    <div class="row">
        <div class="col-xs-12 main">
            <div class="vert-cent"></div>
        <p>Textlet</p>    
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3">
          
        </div>
        <div class="col-xs-3">
          
        </div>
        <div class="col-xs-3">
          
        </div>
        <div class="col-xs-3">
          
        </div>
    </div>

</div>