<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 main">
            <div class="vert-cent"></div>
        <p>Textlet</p>    
        </div>
    </div>
    <div class="row main">
        <div class="col-xs-3">
          
        </div>
        <div class="col-xs-3">
          
        </div>
        <div class="col-xs-3">
          
        </div>
        <div class="col-xs-3">
          
        </div>
    </div>

</div>